absl-py
accelerate
aliyun-python-sdk-core
aliyun-python-sdk-kms
attrs
audioread
av
cachetools
chumpy
coloredlogs
configargparse
contourpy
crcmod
cycler
dearpygui>=2.1.1
decorator
dill
docstring-parser
einops
face-alignment
facenet-pytorch
filelock
flatbuffers
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
hsemotion
huggingface-hub
humanfriendly
imageio
imageio-ffmpeg
jinja2
jmespath
joblib
kiwisolver
kornia
lazy-loader
librosa
llvmlite
lpips
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
mediapipe
moviepy
mpmath
msgpack
multiprocess
natsort
networkx
ninja
numba
onnx
onnxruntime-gpu
opencv-contrib-python
opencv-python
oss2
packaging
pillow
platformdirs
pooch
praat-parselmouth
proglog
protobuf
psutil
pyasn1
pyasn1-modules
pycryptodome
pygments
pykalman
pymcubes
pyparsing
python-speech-features
regex
requests-oauthlib
resampy
rich
rsa
safetensors
scikit-image
scikit-learn
scikit-video
scipy
shtab
sounddevice
soundfile
soxr
sympy
tensorboard
tensorboard-data-server
tensorboardx
threadpoolctl
tifffile
timm
tokenizers
torch
torch-ema
torchvision
transformers
trimesh
typing-extensions
tyro
werkzeug